{% extends 'users/base.html' %}
{% load crispy_forms_filters %}

{% block styles_extra %}
    {{ form.media.css }}
{% endblock %}

{% block content %}
    <h2>Перевод средств</h2>

    <div class="row">
        <div class="col-xs-12">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Перевести" class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts_extra %}
    {{ form.media.js }}

    <script>

        $(function() {
            $('.django-select2').djangoSelect2({placeholder: 'Выберите пользователя'});
        })

    </script>
{% endblock %}